.crumbs {
  text-align: center;
}

.cf {
  &:before, &:after { content: ' '; display: table; }
  &:after { clear: both; }
}

.crumbs ul {
  list-style: none;
  display: inline-table;
}
.crumbs ul li {
  display: inline;
}
.crumbs ul li.active a, .crumbs ul li.active a:before, .crumbs ul li.active a:hover, .crumbs ul li.active a.small{
  background: $color26;
}
.crumbs ul li a:hover{
  //background: $color3;
}

.crumbs ul li.active a:after, .crumbs ul li.active a.small:after, .crumbs ul li.active a.small:hover:after{
  border-left:40px solid $color26;
}

.crumbs ul li a {
  @include font-size(17px);
  display: block;
  float: left;
  height: 80px;
  background: $color3;
  text-align: center;
  padding: 30px 22px 0 62px;
  position: relative;
  margin: 0 10px 0 0;

  text-decoration: none;
  color: #fff;
  cursor: default;
}

.crumbs ul li a.small {
  display: block;
  float: left;
  height: 80px;
  background: $color3;
  text-align: center;
  padding: 30px 87px 0 74px;
  position: relative;
  margin: 0 10px 0 0;

  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.crumbs ul li:first-child a {
  padding: 30px 40px 0 50px;
}

.crumbs ul li:first-child a.small {
  padding: 30px 99px 0 27px;
}


.crumbs ul li a span:first-child {
  display: inline-block;
  //width: 22px;
  //height: 22px;
  //padding: 2px;
  //margin-right: 5px;
}

.crumbs ul li a:after {
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid $color3;
  position: absolute; right: -40px; top: 0;
  z-index: 1;
}

.crumbs ul li a:before {
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid $color7;
  position: absolute; left: 0; top: 0;
}

.crumbs ul li:first-child a {
  border-top-left-radius: 10px; border-bottom-left-radius: 10px;
}
.crumbs ul li:first-child a:before {
  display: none;
}

.crumbs ul li:last-child a {
  padding-right: 80px;
  border-top-right-radius: 10px; border-bottom-right-radius: 10px;
}
.crumbs ul li:last-child a:after {
  display: none;
}

.crumbs ul li a:hover {
  background: $color3;
}
.crumbs ul li a:hover:after {
//  border-left-color: $color3;
}

@media #{$small-up} {

  .crumbs li a span:first-child {
    /*display: block;*/
    margin: 0 auto;
  }

  .crumbs li a span:last-child {
    /*display: none;*/
  }

}

@media #{$large-up} {

  .crumbs li a span:first-child {
    /*display: block;*/
    margin: 0 auto;
  }

  .crumbs li a span:last-child {
    /*display: block;*/
  }
}
