.landing-tile {
  max-height: 50px;
  padding-left: 65px;

  > .img {
    float: left
  }

  .title {
    @include font-size(32px);
    color: $color6;
    margin-top: -9px;
  }

  .text {
    @include font-size(18px);
    font-family: $avenir-book;
    color: $color6;
    min-height: 150px;
  }
}
