.user-dashboard-landing {

  &.-individual {
    margin-top: -100px;

    .info-panel-enticement.-border {
      min-height: 400px !important;
    }

    .button-box {
      margin-left: 50px !important;
      margin-right: 50px !important;
    }
  }

  .splash-landing {
    padding-bottom: 100px !important;

    >.row > .title {
      text-transform: none !important;
    }
  }

  .boxes {
    position: relative;
    z-index: 10;
    top: -135px;

    .info-panel-enticement{

      background-color: $color7;

      > * {
        color: $color6;
      }

      &.-border {
        margin-top: 10px;
        padding: 35px 39px;
        min-height: 440px;
        -moz-box-shadow:    inset 0 0 4px $color10;
        -webkit-box-shadow: inset 0 0 4px $color10;
        box-shadow:         inset 0 0 4px $color10;
      }

      > .equalizer {
        min-height: 233px;

        .title {
          font-size: 26px !important;
          margin-top: 30px;
        }
        .text {
          font-size:18px;
          margin: 0px !important;
          padding-bottom:50px;
        }
      }

      .button-box {
        position:absolute;
        bottom:0px;
        left:0px;
        margin-bottom: 35px;
        margin: 0px 40px 35px 40px;
      }

      .button {
        padding: 10px 15px;
        font-size: 18px;
        margin: 0px !important;
        font-weight: 400 !important;
      }

    }
  }
}